<div>
<h2><%= t 'devise.passwords.edit_title' %></h2>

<%= form_with(model: resource, scope: resource_name, local:true, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, class: 'invisible' %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'invisible' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: true %>
  </div>

    <%= f.submit t('devise.passwords.submit_button'), class: 'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
</div>
