<div>
<h2><%= t_scoped :title %></h2>

<div class="profile_field">
  <p class="field_name">
    <%= t_scoped :full_name %>
  </p>
  <p class="field_value">
    <%= full_name(@member) %>
  </p>
</div>
<div class="profile_field">
  <p class="field_name">
    <%= t_scoped :birthdate %>
  </p>
  <p class="field_value">
    <%= @member.birthdate %>
  </p>
</div>
<div class="profile_field">
  <p class="field_name">
    <%= t_scoped :id_number %>
  </p>
  <p class="field_value">
    <%= id_number_and_expiry_date(@member) %>
  </p>
</div>
<div class="profile_field">
  <p class="field_name">
    <%= t_scoped :member_number %>
  </p>
  <p class="field_value">
    <%= member_number @member %>
  </p>
</div>
<div class="profile_field">
  <p class="field_name">
    <%= t_scoped :moodle_name  %>
  </p>
  <p class="field_value">
    <%= moodle_name @member  %>
  </p>
</div>

<button class="btn btn-primary"><%= t_scoped :update_id_number %></button>

<button class="btn btn-primary"><%= t_scoped :change_password %></button>
</div>

