<h2> <%= t_scoped :title %></h2>

<h3> <%= t_scoped :members %></h3>

<table class="table">
  <thead>
    <th scope='col'> <%= t_scoped :member_number %></th>
    <th scope='col'> <%= t_scoped :email %></th>
    <th scope='col'> <%= t_scoped :name %></th>
    <th scope='col'> <%= t_scoped :surnames %></th>
  </thead>
  <tbody class='admin_members_table_body'>
    <% @members.each_with_index do |member, idx| %>
      <tr class='admin_members_table_row' id=<%= idx %>>
        <th scope="row">
          <%= link_to member.member_number, member_admin_path(member.id) %>
        </th>
        <td> <%= member.email %></td>
        <td> <%= member.name %></td>
        <td> <%= member.surname1 + ' ' + member.surname2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav class='member_navigation' aria-label='Member navigation'>
  <ul class="pagination">
  </ul>
</nav>
