<h1><%= t_scoped :title %></h1>

<p><%= t_scoped :description %></p>

<%= form_with(model: @member, url: member_admin_index_path, local: true, method: :post) do |f| %>
<%= render partial: 'devise/shared/error_messages', locals: {resource: @member }%>
  <div class='row g-3 mb-3'>
    <div class='col-md-4'>
      <%= f.label :name, class: 'invisible' %>
      <%= f.text_field :name, class: 'form-control', placeholder: true %>
    <div class="invalid-feedback"><%= t_scoped :invalid_name %> </div>
    </div>
    <div class='col-md-4'>
    <%= f.label :surname1, class: 'invisible' %>
    <%= f.text_field :surname1, class: 'form-control', placeholder: true %>
    <div class="invalid-feedback"><%= t_scoped :invalid_surname1 %> </div>
    </div>

    <div class='col-md-4'>
    <%= f.label :surname2, class: 'invisible' %>
    <%= f.text_field :surname2, class: 'form-control', placeholder: true %>
    </div>
  </div>

  <div class='form-group mb-3'>
  <%= f.label :email, class: 'invisible'%>
  <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: true %> 
  <div class="invalid-feedback"><%= t_scoped :invalid_email %> </div>
  </div>

  <div class='row mb-3'>
    <div class='form-group col-md-6'>
      <%= f.label :password, class: 'invisible' %>
      <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: true %>
      <div class="invalid-feedback"><%= t_scoped :invalid_password %> </div>
    </div>

    <div class='form-group col-md-6' f.label :password_confirmation %>
      <%= f.label :password_confirmation, class: 'invisible' %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: true %>
      <div class="invalid-feedback"><%= t_scoped :invalid_password_confirmation %> </div>
    </div>
  </div>

  <div class='form-group mb-3'>
    <%= f.label :birthdate, class: 'invisible' %>
    <div class='input-group'>
      <div class='input-group-prepend'>
        <div class='input-group-text'><%= t 'helpers.label.member.birthdate' %></div>
      </div>
      <%= f.date_field :birthdate, class: 'form-control'%>
      <div class="invalid-feedback"><%= t_scoped :invalid_birthdate %> </div>
    </div>
  </div>

  <div class='row mb-3'>
    <div class='form-group col-md-3'>
      <%= f.label :id_document_type_id, class: 'invisible' %>
      <%= f.collection_select :id_document_type_id,
        IdDocumentType.all,
        :id,
        ->(element) { translate_id_name(element) },
        {},
        {class: 'form-select'}%>
    </div>

    <div class='form-group col-md-9 mb-3'>
      <%= f.label :id_document_number, class: 'invisible' %>
      <%= f.text_field :id_document_number, class: 'form-control', placeholder: true %>
      <div class="invalid-feedback"><%= t_scoped :invalid_id_number %> </div>
    </div>
  </div>

  <div class='form-group mb-3'>
    <%= f.label :id_document_expiration_date, class: 'invisible' %>
    <div class='input-group'>
      <div class='input-group-prepend'>
        <div class='input-group-text'><%= t 'helpers.label.member.id_document_expiration_date' %></div>
      </div>
      <%= f.date_field :id_document_expiration_date, class: 'form-control'%>
    </div>
    <div class="invalid-feedback"><%= t_scoped :invalid_id_date_expired %> </div>
  </div>

  <div class='input-group custom-file mb-3'>
    <%= f.label :id_image, class: 'input-group-text'  %>
    <%= f.file_field :id_image, class: 'form-control' %>
  </div>

  <div class='form-group mb-3'>
    <%= f.label :moodle_name, class: 'invisible' %>
    <%= f.text_field :moodle_name, class: 'form-control', placeholder: true %>
  </div>

    <%= f.submit t('devise.registrations.submit'), class: 'btn btn-primary mb-3' %>
<% end %>

