<div>
  <h2><%= t_scoped :title %></h2>
  <!-- Formulario para actualizar la contraseña -->
  <div>
    <%= form_with(model: @member, local:true, url: profile_password_path, html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, class: 'invisible' %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'invisible' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: true %>
      </div>

      <%= f.submit t('devise.passwords.submit_button'), class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>

