<nav class="navbar main-navbar <%= @home_page ? 'homepage' : ''%>">
  <ul class="nav-left btn-group">
    <li>
      <%= link_to image_tag("logo_asaaf", alt: "Logo de ASAAF", class: "logo"), root_path %>
    </li>
    <li>
      <% if member_signed_in? %>
        <% if member_allowed? 'admin' %>
          <%= link_to t('app.nav.roles'), role_index_path, class: 'btn nav-link header-nav' %>
        <% end %>
      <% end %>
    </li>
  </ul>
  <ul class="nav-right btn-group">
    <% if member_signed_in? %>
      <div class="dropdown">
        <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_member.email %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to t('app.nav.sign_out'), destroy_member_session_path, method: 'delete', class: 'dropdown-item' %>
        </div>
      </div>
    <% else %>
      <li>
  <%= link_to t('app.nav.sign_in'), new_member_session_path, class: 'btn nav-link header-nav'%>
      </li>
      <li>
  <%= link_to t('app.nav.sign_up'), new_member_registration_path, class: 'btn btn-outline-light header-nav', id: 'sign_up-button' %>
      </li>
    <% end %>
  </ul>
</nav>
