<!DOCTYPE html>
<html>
  <head>
    <title>Administración de ASAAF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @home_page ? 'homepage' : ''%>">
    <%= render 'layouts/nav' %>
    <%= render 'layouts/flash' %>
    <% if @home_page %>
        <%= yield %>
    <% else %>
      <div class="container main-container center-flex">
        <%= yield %>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
